* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #426696;
  font-weight: 600;
  font-size: 3rem;
  opacity: 0.8;
}
h2,
p {
  color: #658ec6;
  font-weight: 500;
  opacity: 0.8;
}

h3 {
  color: #426696;
  font-weight: 600;
  opacity: 0.8;
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: radial-gradient(circle at 0% 0%, #4fc5a5 0, #3fc5b0 6.25%, #2cc6ba 12.5%, #12c6c4 18.75%, #00c5cd 25%, #00c5d6 31.25%, #00c4df 37.5%, #00c3e6 43.75%, #0cc1ed 50%, #2dbff3 56.25%, #44bdf7 62.5%, #59bafa 68.75%, #6cb8fc 75%, #7db5fc 81.25%, #8eb1fc 87.5%, #9eaef9 93.75%, #adaaf6 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  background: white;
  min-height: 80vh;
  width: 60%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  backdrop-filter: blur(2rem);
  display: flex;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
}
.link {
  display: flex;
  margin: 2rem 0rem;
  padding: 1rem 5rem;
  align-items: center;
}
.link h2 {
  padding: 0rem 1rem;
}

.projects {
  flex: 2;
}

.pro {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  position: relative;
}

.pro img {
  position: absolute;
  top: -10%;
  right: 10%;
}
.pro h2 {
  width: 40%;
  color: white;
  font-weight: 600;
}

/* Portafolio */
.status {
  margin-bottom: 3rem;
}

.status input {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border: none;
  width: 100%;
  padding: 0.5rem;
  border-radius: 2rem;
}

.projects {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
}

.progress {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  width: 100%;
  height: 25%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}
.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;
}
.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.percentage {
  font-weight: bold;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* avatar */

.avatar-large {
  width: 130px;
  border-radius: 50%;
}

/* icons */
.link i {
  font-size: 50px;
  color: #658ec6;
}


/* responsive */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .dashboard {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .dashboard {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .glass {
    flex-direction: column;
  }
  .dashboard {
    width: 300px;
    height: 600px;
    padding: 10px;
  }
  .link i {
    font-size: 20px;
  }
  .dashboard > * {
    margin-right: 20px;
  }

  .projects {
    .status {
      display: flex;
      justify-content: center; /* Centra horizontalmente los elementos internos */
      align-items: center; /* Centra verticalmente los elementos internos */
      flex-direction: column; /* Alinea los elementos internos en una columna */
      width: 100%; /* Ocupa todo el ancho del contenedor */
      /* Agrega cualquier otro estilo como padding, margin, etc., según sea necesario */
    }
    
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .card {
        width: 300px;
        margin-left: 50px;
        background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
        );
        a.percentage {
          width: fit-content;
          display: inline-block;
        }
        h2 {
          margin: 0;
          font-size: 1rem;
        }
        .percentage {
          position: relative;
          right: 25px;
        }
      }
    }

    h1 {
      font-size: 1.5rem;
      white-space: nowrap;
    }

    .status input {
      display: none;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {
      font-size: 0.8rem;
    }
  }
}